body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  color: #223865;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Noto Serif Display", serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .container {
    width: 1250px;
  }
}

.header-border {
  border-bottom: 1px solid #97A1B6;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.current {
  position: relative;
}

.header-list .current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #223865;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo {
  font-size: 25px;
  line-height: 1.3;
  font-family: "Noto Serif Display", serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .logo {
    font-size: 30px;
    line-height: 1.3;
    font-family: "Noto Serif Display", serif;
    padding-top: 18px;
    padding-bottom: 16px;
    margin-right: 190px;
  }
}

.header-item {
  display: none;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .header-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-list {
  margin-right: 75px;
}
.header-list:nth-child(4) {
  margin-right: 0;
}

.header-link {
  padding-top: 40px;
  padding-bottom: 14px;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .header-link {
    padding-top: 80px;
    padding-bottom: 28px;
  }
}

.info-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .info-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 50px;
  }
}

.info-list {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.info-link {
  margin-left: 15px;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .info-link {
    margin-left: 32px;
  }
}

.info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icon {
  margin-right: 11px;
  fill: #223865;
}
.header-icon:nth-child(2) {
  margin-right: 0;
}

.hero {
  position: relative;
}

.hero__title {
  font-size: 45px;
  line-height: 1.3;
  padding-top: 70px;
  padding-left: 50px;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .hero__title {
    font-size: 100px;
    line-height: 1.4;
    padding-top: 150px;
    padding-left: 345px;
  }
}

.hero__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  position: absolute;
  top: 110%;
  left: 1%;
  padding-left: 10px;
  max-width: 200px;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .hero__text {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    position: absolute;
    top: 65%;
    left: 1%;
    padding-left: 175px;
    padding-right: 5px;
    max-width: 350px;
  }
}

.hero__title--text {
  position: relative;
}

.hero__title--second {
  font-size: 35px;
  line-height: 1.3;
  padding-top: 130px;
  padding-left: 187px;
  color: #223865;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .hero__title--second {
    font-size: 90px;
    line-height: 1.4;
    padding-top: 130px;
    padding-left: 165px;
    color: #223865;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero-d {
    margin-left: 30px;
  }
}
.hero__title--img {
  position: relative;
}

.button-img {
  position: absolute;
  top: 110%;
  left: 59%;
  width: 100px;
  border-radius: 50px;
}

.button-box {
  position: absolute;
  top: 111.5%;
  left: 60%;
  min-width: 93px;
  height: 35px;
  border: 1.7px dashed white;
  border-radius: 50px;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .button-box {
    position: absolute;
    top: 38%;
    left: 64.6%;
    min-width: 220px;
    height: 85px;
    border: 2px dashed white;
    border-radius: 50px;
  }
}

.hero-n {
  position: absolute;
  z-index: 1;
  max-width: 38px;
  color: white;
  overflow: hidden;
}

.hero__img {
  position: absolute;
  top: 50%;
  left: 0;
}

.bottels-img {
  position: absolute;
  top: 75px;
  right: 0px;
  opacity: 50%;
  z-index: -1;
}

.about {
  padding-top: 174px;
  padding-bottom: 108px;
}

.about-box {
  border-top: 1px solid #D0D5DE;
  border-bottom: 1px solid #D0D5DE;
}

.about-content {
  padding: 0;
  width: 400px;
  height: 570px;
  border-right: 1px solid #D0D5DE;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
}

.about-item {
  margin-right: 30px;
  width: 155px;
}
.about-item:nth-child(2) {
  margin-right: 0;
}

.about-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 110px;
  width: 301px;
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 110px;
  margin-left: 50px;
  width: 750px;
}

.border-about {
  border-top: 1px solid #D0D5DE;
  border-bottom: 1px solid #D0D5DE;
}

.about-title {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.1;
  text-align: start;
  padding-top: 88px;
  padding-bottom: 32px;
  width: 700px;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product {
  padding-bottom: 108px;
}

.product-title {
  font-size: 70px;
  line-height: 1.4;
  text-align: center;
  padding-bottom: 50px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
}

.product-item {
  margin-right: 30px;
}
.product-item:nth-child(4) {
  margin-right: 0;
}

.product-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: rgba(34, 56, 101, 0.69);
  position: relative;
}
.product-link:hover {
  color: #223865;
}

.product-link:hover::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 4px;
  background-color: #223865;
  bottom: 0;
  top: 150%;
  left: 0%;
}

.product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-text {
  font-size: 12px;
  line-height: 1;
  color: #212121;
  padding-top: 15px;
}

.product-price {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding-top: 8px;
}/*# sourceMappingURL=main.css.map */