.hero {
  position: relative;
}

.hero__title {
  @include font-min(100px, 1.4);
  font-family: "Noto Serif Display", serif;
  padding-top: 150px;
  padding-left: 345px;
}

.hero__text {
  @include font(15px, 500, 1.7);
  position: absolute;
  top: 65%;
  left: 1%;
  padding-left: 175px;
  padding-right: 5px;
  max-width: 350px;
}

.hero__title--text {
  position: relative;
}

.hero__title--second {
  @include font-min(90px, 1.4);
  font-family: "Noto Serif Display", serif;

  padding-top: 30px;
  padding-left: 165px;
  color: $text-color-title;
}

.hero__title--img {
  position: relative;
}

.button-img {
  position: absolute;
  top: 35%;
  left: 64%;
  border-radius: 50px;
}

.button-box {
  position: absolute;
  top: 38%;
  left: 35.9%;
  min-width: 220px;
  height: 85px;
  border: 2px dashed white;
  margin-left: 350px;
  border-radius: 50px;
}

.hero-n {
  position: absolute;
  z-index: 1;
  max-width: 38px;
  color: white;
  overflow: hidden;
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
}

.bottels-img {
  position: absolute;
  top: 75px;
  right: 0px;
  opacity: 50%;
  z-index: -1;
}
