.product {
  padding-bottom: 108px;
}

.product-title {
  @include font-min(70px, 1.4);

  text-align: center;
  padding-bottom: 50px;
}

.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.product-item {
  margin-right: 50px;

  &:nth-child(4) {
    margin-right: 0;
  }
}

// Нижнее подчеркивание с применением border-radius (законспектировать)
.product-link {
  @include font(16px, 600, 1);

  color: $filter-text;
  position: relative;
}

.product-link:hover::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 4px;
    background-color: $line-under-nav;
    bottom: 0;
    top: 150%;
    left: 0%;
}

.product-img {
    display: flex;
}