$logo-color: #223865;
$text-color-title: #223865;
$secondary-text: #212121;
$text-color-reviews: #223865;
$bg-fon-color: #223865;
$text-footer-white: #ffffff;
$bg-fon-section: #F8FAFF;
$filter-text: rgba(34, 56, 101, 0.69);
$product-text: #212121;
$menu-arrow: #212121;
$line-header: #97A1B6;
$line-under-nav: #223865;
$icon-header: #223865;